site_name: Python for HTS

theme:
  name: material

nav:
  - Introduction: "index.md"
  - Wells: "wells.md"
  - Plates: "plates.md"
  - 'Quality control':
    - Z-prime: "quality_control/z_prime.md"
  - Conc. response curves: "conc_response_curves/fitting.md"
  - 'Hit selection':
    - Z-score: "hit_selection/z_score.md"
    - SSMD: "hit_selection/ssmd.md"
  #   - B-score: "hit_selection/b_score.md"
  #   - '% of control': "hit_selection/percentage_of_control.md"


markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  analytics:
    provider: google
    property: G-HFTGGB40Y2
